# SCADA Flow Rate Calculation Model

In [1]:
import pandas as pd
import os
import csv
import math

import re
import datetime
import io
from zipfile import ZipFile

import pandas as pd
import numpy as np
import pandas_gbq
import janitor

# Section 1

In this section, I read my Lift Station SCADA data and Lift Station Legend data to a pandas data frames and do some quick formatting. I'll begin by converting the date and time column to DateTime format, dropping unneeded columns, and dropping any NA values. Once this process is finished we are ready to begin section 2.

## Read SCADA data into Pandas Dataframe

In [2]:
df = pd.read_csv('LiftStation.csv')

/var/folders/2x/4hk6jhf96_q696_2h9d_fstw0000gp/T/ipykernel_14828/2210235391.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('LiftStation.csv')

In [3]:
legend = pd.read_csv('Lift Station Legend Cross Referance.csv')

In [4]:
legend = legend.drop('Pump #1 Run', axis=1)
legend = legend.drop('Pump #2 Run', axis=1)
legend = legend.drop('Pump #3 Run', axis=1)
legend = legend.drop('Table Tag #.4', axis=1)
legend = legend.drop('Pump #4 Run', axis=1)
legend = legend.drop('Unnamed: 11', axis=1)

## Convert the DateAndTime column to Datetime Format

In [5]:
df['PumpStart'] = pd.to_datetime(df['PumpStart'])
df['PumpStop'] = pd.to_datetime(df['PumpStop'])

## Format the dataframe

In [6]:
df = df.dropna(subset=['PumpStart', 'PumpStop'])

In [7]:
df['PumpTagIndex'] = df['PumpTagIndex'].astype(int)

In [8]:
# create a boolean mask of rows with duplicate "PumpTagIndex" and "PumpStart" values
mask = df.duplicated(subset =['PumpTagIndex', 'PumpStart'], keep = 'first')

# drop the duplicate rows using the boolean mask

#now let's drop the duplicate rows
new_df = df[~mask]
# reset the index after dropping rows
new_df.reset_index(drop=True, inplace=True)

# print the length of the new dataframe
#print(len(new_df))

In [9]:
# create a boolean mask of rows with duplicate "PumpTagIndex" and "PumpStart" values
mask = new_df.duplicated(subset=['PumpTagIndex', 'PumpStop'], keep='first')

# drop the duplicate rows using the boolean mask
new_df = new_df[~mask]

# reset the index after dropping rows
new_df.reset_index(drop=True, inplace=True)

# print the length of the new dataframe
#print(len(new_df))

# Section 2

In this section, I will create a new data frame called calc_df, which will hold all of our calculated data going forward. 

I'll begin by assigning the original df to my calculated df, and reformatting the columns (names and order). 

Next I will remove any erroneous rows containing invalid pump numbers.

Then I'll use the legend dataframe I read into the program earlier to add the correct lift station name to each row in calc_df.

Finally, I will convert both on and off timestamps into Unix time and calculate the difference in time between the pump turning on and off. 

Note: Remove the # in front of any of the calc_df lines to see a preview of the data frame.

## Create new data frame

In [10]:
calc_df = new_df
calc_df = calc_df.rename(columns={'PumpStart': 'PumpStartTime'})
calc_df = calc_df.rename(columns={'PumpStop': 'PumpStopTime'})
calc_df = calc_df.rename(columns={'WellStart': 'StartWellLevel'})
calc_df = calc_df.rename(columns={'WellEnd': 'StopWellLevel'})

In [11]:
calc_df['LiftStation'] = None
calc_df['StartUnix'] = 0.0
calc_df['StopUnix'] = 0.0
calc_df['Time_diff'] = 0.0

In [12]:
calc_df = calc_df[['LiftStation','PumpTagIndex', 'PumpStartTime', 'StartWellLevel','PumpStopTime', 'StopWellLevel', 'StartUnix', 'StopUnix','Time_diff']]

In [13]:
#calc_df

## Delete any rows with incorrect pump numbers

In [14]:
#create a list of valid pump numbers

valid_pumps = []

for index, row in legend.iterrows():
    valid_pumps.append(row['Table Tag #'])
    valid_pumps.append(row['Table Tag #.1'])
    valid_pumps.append(row['Table Tag #.2'])
    valid_pumps.append(row['Table Tag #.3'])
    
valid_pumps = list(filter(lambda x: not math.isnan(x), valid_pumps))
        
#len(valid_pumps)

In [15]:
calc_df = calc_df[calc_df['PumpTagIndex'].isin(valid_pumps)]
calc_df = calc_df.reset_index(drop=True)
calc_df['PumpTagIndex'] = calc_df['PumpTagIndex'].astype(int)

## Add the correct Lift Station to each row in calc_df

Here I am going to perfom 4 joins between the legend dataframe and my calc_df. Each join will merge the legend and calc data frames on one of the 4 table tag #'s.

Table Tag 0 Join

In [16]:
# Left join calc_df to legend df where Pump Tag Index = Table Tag
merged_df = calc_df.merge(legend, left_on='PumpTagIndex', right_on='Table Tag #', how='left')

# Create a mask to filter the rows where Lift Station is not empty
mask = merged_df['Lift Station'].notnull()

# Assign the Lift Station values to the LiftStation column in the calc_df dataframe
calc_df.loc[mask, 'LiftStation'] = merged_df.loc[mask, 'Lift Station']

Table Tag 1 Join

In [17]:
merged_df = calc_df.merge(legend, left_on='PumpTagIndex', right_on='Table Tag #.1', how='left')

# Create a mask to filter the rows where Lift Station is not empty
mask = merged_df['Lift Station'].notnull()

# Assign the Lift Station values to the LiftStation column in the calc_df dataframe
calc_df.loc[mask, 'LiftStation'] = merged_df.loc[mask, 'Lift Station']

Table Tag 2 Join

In [18]:
merged_df = calc_df.merge(legend, left_on='PumpTagIndex', right_on='Table Tag #.2', how='left')

# Create a mask to filter the rows where Lift Station is not empty
mask = merged_df['Lift Station'].notnull()

# Assign the Lift Station values to the LiftStation column in the calc_df dataframe
calc_df.loc[mask, 'LiftStation'] = merged_df.loc[mask, 'Lift Station']

Table Tag 3 Join

In [19]:
merged_df = calc_df.merge(legend, left_on='PumpTagIndex', right_on='Table Tag #.3', how='left')

# Create a mask to filter the rows where Lift Station is not empty
mask = merged_df['Lift Station'].notnull()

# Assign the Lift Station values to the LiftStation column in the calc_df dataframe
calc_df.loc[mask, 'LiftStation'] = merged_df.loc[mask, 'Lift Station']

## Now let's get Unix time for each timestamp

In [20]:
calc_df['StartUnix'] = pd.to_datetime(calc_df['PumpStartTime']).astype(int)/ 10**9
calc_df['StopUnix'] = pd.to_datetime(calc_df['PumpStopTime']).astype(int) / 10**9

In [21]:
#calc_df.head(20)

## Calculating the time difference between Pumps turning on and off

In [22]:
calc_df['Time_diff'] = (calc_df['StopUnix'] - calc_df['StartUnix']) / 60

# Section 3

In this section, I will add elevation difference, volume per foot, observed pumping flow rate, the average flow rate per pump, and average observed pumping flow rate (GPM).

Elevation Difference - This value can be changed for the desired lift station. Please note that each lift station will have a different elevation level. To change the elevation for a different lift station, simply change the 2.2 in the first cell below.

Observed pumping flow rate - To calculate this value we first need to input the wet wells diameter, again this value will differ per each lift station. Simply change the diameter in the diam_well = (5) statement to the desired value. From there the vol_per_foot calculation will update and be added to the calc_df. Now we have all the information in the calc_df to calculate the observed pumping flow rate. I'll take the elevation difference value times the volume per foot value, and divide the result by our time difference. The resulting value will be added to the calc_df in the observed pumping flow rate column.

Average flow rate per pump - Average flow rate per pump is calculated by adding the values in the observed pumping flow rate column for each pump and then dividing that sum by the count of values for that pump. So if I iterate over 4 rows of the calc_df, and pump 1 has 3 out of the 4 rows with an observed pumping flow rate of 100, 120, and 100, the formula will sum these three rows (320) and divide by the number of rows that were related to pump 1 (3). The average flow rate per pump 1 in row 4 would be 106.

Average observed pumping flow rate (GPM) - to calculate this value I simply add all the average flow rates for both pumps and divide the sum by the count of rows I have iterated over. For example, if I have iterated over 4 rows, and 2 of the rows are pump 1 and 2 are pump 2, I'll add up the values from both pumps (100,110,100,120) and divide the sum by 4 to calculate the average observed pumping flow rate in GPM of 107.5 in row 4.

## Add in Elevation Difference

In [27]:
calc_df['Elevation_dif'] = 0.0

In [29]:
elevation_dict = {}

for index,row in legend.iterrows():
    tag = row['Lift Station']
    elevation_dict[tag] = row['Elevation Diff']

for index, row in calc_df.iterrows():
    tag = row['LiftStation']
    calc_df.at[index,row['Elevation_dif']] = elevation_dict[tag]

## Calculate Observed Pumping Flow Rate

### Calculate Volume Per Foot for each well

In [32]:
#initialize new column
calc_df['wet_well_diam'] = 0.0

# left join calc_df and legend df on lift station
merged_df = calc_df.merge(legend, left_on = 'LiftStation', right_on = 'Lift Station', how = 'left')

#create a boolean mask to find all rows where we have a wet well diameter
mask = merged_df['Wet Well Diam'].notnull()

#add the wet well diameter value from the legend dataframe to the calc_df where mask is true
calc_df.loc[mask, 'wet_well_diam'] = merged_df.loc[mask, 'Wet Well Diam']

In [33]:
#Calculate volume per foot (check 4*7.48)
calc_df['volume_per_foot'] = round(((calc_df['wet_well_diam']*calc_df['wet_well_diam']) * 3.14)/4*7.48)

### Calculate Observed Pumping Flow Rate

In [34]:
calc_df['observed_pumping_flow_rate'] = int()

In [35]:
for index, row in calc_df.iterrows():
    result = round((row['Elevation_dif'] * row['volume_per_foot'])/row['Time_diff'])
    calc_df.at[index,'observed_pumping_flow_rate'] = result

In [36]:
#calc_df

## Calculate Average Flow Rate Per Pump

In [37]:
calc_df['avg_flow_rate_pump'] = int()

### Create two dictionaries
### 1. Dictionary containing a running total of Observed Pumping Flow Rate for each pump
### 2. Dictionary containing a running row count of Observed Pumping Flow Rate for each pump

In [38]:
sum_dict ={}
count_dict ={}

for item in valid_pumps:
    result = 0
    sum_dict[item] = result
    count_dict[item] = result

### Calculate Average Flow Rate Per Pump

In [39]:
for index, row in calc_df.iterrows():
    tag = row["PumpTagIndex"]
    sum_dict[tag] += row['observed_pumping_flow_rate']
    count_dict[tag] += 1
    calc_df.at[index, 'avg_flow_rate_pump'] = sum_dict[tag] / count_dict[tag]

## Finally Let's calculate our Average Observed Pumping Flow Rate (GPM)

In [40]:
calc_df['average_observed_pumping_flow_rate'] = int()

### Create a dictionary for sum and count for each Lift Station

In [41]:
sum_dict ={}
count_dict ={}

for index, row in legend.iterrows():
    result = 0
    tag = row['Lift Station']
    sum_dict[tag] = result
    count_dict[tag] = result

### Calculate Average Observed Pumping Flow Rate (GPM)

In [42]:
for index, row in calc_df.iterrows():
    tag = row["LiftStation"]
    sum_dict[tag] += row['observed_pumping_flow_rate']
    count_dict[tag] += 1
    calc_df.at[index, 'average_observed_pumping_flow_rate'] = sum_dict[tag] / count_dict[tag]

In [43]:
#filtered_df = calc_df[calc_df['LiftStation'] == 'Waldo (22)']
#filtered_df.head(60)

# Section 4

In this section, I will calculate the time to fill, inflow, and average inflow. These values need to be accounted for when calculating flow rate, as even when the pumps are turned on within a wet well and the level is dropping, water is still flowing through the sewer pipes into the well.

Time to fill - To calculate the time to fill for each row in calc_df, I take the stop Unix time of the first row within calc_df (when the pump turned off) and subtract this value from the start Unix time of the next row (when the pump turned back on). The difference between the pump turning off and the next pump turning on is my time to fill the measure.

Inflow - To calculate my inflow value for each row in calc_df, I take the row's volume per foot value and multiply it by the row's elevation difference value. I then divide that result by the row's time to fill value we just calculated.

Average Inflow - To calculate my average inflow for each row in calc_df, I simply add all the values for inflow in the rows I have iterated over and divide by the count of those rows. So if I have iterated over 4 rows so far in calc_df and the inflow values are (60,40,20,60) I sum these values (180) and divide by four to get my average inflow value in row 4, 45.

## Calculate time to fill

In [44]:
calc_df['Time_to_Fill'] = float

### Create two dictionaries
### 1. Dictionary containing the Start Unix time for each Lift Station
### 2. Dictionary containing the Stop Unix time for each Lift Station

In [45]:
# Sort the dataframe by LiftStation and PumpStartTime
calc_df = calc_df.sort_values(by=['LiftStation', 'PumpStartTime'])
calc_df = calc_df.reset_index(drop=True)

In [51]:

for index, row in calc_df.iterrows():
    if index == 0:
        calc_df.at[index, 'Time_to_Fill'] = 0
    
    if row['LiftStation'] == calc_df.iloc[index-1]['LiftStation']:
        milliseconds = (row['StartUnix'] - calc_df.iloc[index-1]['StopUnix']) 
        #seconds = milliseconds / 10
        #minutes = seconds // 60
        #seconds = seconds % 60
        #result = minutes + seconds / 60
        calc_df.at[index, 'Time_to_Fill'] = milliseconds
        
    if row['LiftStation'] != calc_df.iloc[index-1]['LiftStation']:
        result = 0
        calc_df.at[index, 'Time_to_Fill'] = result

In [52]:
calc_df

,LiftStation,PumpTagIndex,PumpStartTime,StartWellLevel,PumpStopTime,StopWellLevel,StartUnix,StopUnix,Time_diff,Elevation_dif,0.0,wet_well_diam,volume_per_foot,observed_pumping_flow_rate,avg_flow_rate_pump,average_observed_pumping_flow_rate,Time_to_Fill
0,Buena Vista (19),920,2022-06-24 00:11:33,3.200578,2022-06-24 00:13:32,2.189985,1.656029e+09,1.656030e+09,1.983333,0.0,1.0,5,147.0,0,0,0,0
1,Buena Vista (19),918,2022-06-24 03:33:31,3.196136,2022-06-24 03:35:31,2.187765,1.656042e+09,1.656042e+09,2.000000,0.0,1.0,5,147.0,0,0,0,11999.0
2,Buena Vista (19),920,2022-06-24 06:24:22,3.198357,2022-06-24 06:26:18,2.232186,1.656052e+09,1.656052e+09,1.933333,0.0,1.0,5,147.0,0,0,0,10131.0
3,Buena Vista (19),918,2022-06-24 07:32:38,3.200578,2022-06-24 07:34:38,2.229965,1.656056e+09,1.656056e+09,2.000000,0.0,1.0,5,147.0,0,0,0,3980.0
4,Buena Vista (19),920,2022-06-24 08:49:01,3.196136,2022-06-24 08:50:59,2.192206,1.656061e+09,1.656061e+09,1.966667,0.0,1.0,5,147.0,0,0,0,4463.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383400,Waldo (22),1033,2023-01-29 23:14:11,4.922175,2023-01-29 23:15:17,3.814686,1.675034e+09,1.675034e+09,1.100000,0.0,1.0,8,376.0,0,0,0,3532.0
383401,Waldo (22),1032,2023-01-30 08:24:31,4.919978,2023-01-30 08:25:38,3.812489,1.675067e+09,1.675067e+09,1.116667,0.0,1.0,8,376.0,0,0,0,32954.0
383402,Waldo (22),1033,2023-01-30 11:15:06,5.019593,2023-01-30 11:16:12,3.816151,1.675077e+09,1.675077e+09,1.100000,0.0,1.0,8,376.0,0,0,0,10168.0
383403,Waldo (22),1032,2023-01-30 17:08:39,4.926570,2023-01-30 17:09:47,3.818348,1.675099e+09,1.675099e+09,1.133333,0.0,1.0,8,376.0,0,0,0,21147.0
383404,Waldo (22),1033,2023-01-30 20:51:51,4.922908,2023-01-30 20:52:57,3.815418,1.675112e+09,1.675112e+09,1.100000,0.0,1.0,8,376.0,0,0,0,13324.0

In [49]:
start = calc_df['StartUnix'].tolist()
stop = calc_df['StopUnix'].tolist()

In [51]:
stop

[1656029612.0,
 1656041731.0,
 1656051978.0,
 1656056078.0,
 1656060659.0,
 1656065156.0,
 1656070504.0,
 1656076132.0,
 1656082915.0,
 1656086557.0,
 1656090497.0,
 1656094921.0,
 1656099611.0,
 1656103491.0,
 1656107062.0,
 1656111438.0,
 1656116473.0,
 1656121782.0,
 1656130287.0,
 1656137420.0,
 1656143540.0,
 1656147488.0,
 1656150126.0,
 1656153648.0,
 1656157128.0,
 1656160001.0,
 1656163222.0,
 1656167876.0,
 1656171774.0,
 1656174127.0,
 1656175694.0,
 1656177390.0,
 1656178929.0,
 1656180601.0,
 1656182666.0,
 1656186911.0,
 1656189618.0,
 1656191904.0,
 1656194733.0,
 1656199427.0,
 1656203363.0,
 1656212778.0,
 1656221052.0,
 1656228680.0,
 1656233774.0,
 1656235618.0,
 1656238175.0,
 1656241639.0,
 1656244524.0,
 1656249272.0,
 1656253133.0,
 1656257364.0,
 1656261103.0,
 1656266271.0,
 1656269495.0,
 1656271998.0,
 1656276045.0,
 1656278705.0,
 1656280657.0,
 1656283265.0,
 1656287204.0,
 1656295449.0,
 1656304434.0,
 1656309587.0,
 1656315035.0,
 1656318706.0,
 1656321533.0,
 1656323455.0,
 1656325840.0,
 1656328612.0,
 1656334738.0,
 1656338740.0,
 1656343525.0,
 1656347844.0,
 1656351748.0,
 1656356434.0,
 1656358880.0,
 1656361390.0,
 1656363386.0,
 1656367346.0,
 1656372444.0,
 1656378766.0,
 1656392219.0,
 1656399909.0,
 1656402839.0,
 1656406263.0,
 1656409224.0,
 1656412103.0,
 1656416120.0,
 1656423070.0,
 1656426376.0,
 1656431056.0,
 1656437085.0,
 1656440427.0,
 1656443128.0,
 1656445127.0,
 1656447063.0,
 1656449663.0,
 1656452128.0,
 1656455981.0,
 1656460632.0,
 1656469237.0,
 1656481090.0,
 1656486116.0,
 1656488371.0,
 1656492429.0,
 1656494992.0,
 1656497734.0,
 1656502687.0,
 1656506230.0,
 1656509413.0,
 1656513085.0,
 1656515080.0,
 1656518126.0,
 1656521689.0,
 1656525647.0,
 1656528335.0,
 1656531803.0,
 1656535095.0,
 1656538708.0,
 1656542190.0,
 1656545673.0,
 1656551703.0,
 1656557550.0,
 1656564703.0,
 1656569868.0,
 1656572787.0,
 1656576029.0,
 1656579129.0,
 1656583626.0,
 1656588345.0,
 1656592178.0,
 1656595870.0,
 1656595904.0,
 1656595982.0,
 1656598584.0,
 1656604912.0,
 1656609427.0,
 1656611819.0,
 1656614509.0,
 1656617165.0,
 1656619735.0,
 1656621315.0,
 1656624118.0,
 1656627524.0,
 1656630971.0,
 1656637863.0,
 1656646137.0,
 1656654967.0,
 1656659251.0,
 1656662284.0,
 1656666222.0,
 1656669791.0,
 1656675353.0,
 1656678944.0,
 1656682949.0,
 1656687197.0,
 1656690484.0,
 1656693157.0,
 1656695873.0,
 1656699263.0,
 1656701986.0,
 1656704922.0,
 1656707218.0,
 1656709729.0,
 1656713868.0,
 1656716744.0,
 1656720257.0,
 1656724967.0,
 1656730727.0,
 1656738011.0,
 1656744832.0,
 1656746980.0,
 1656750401.0,
 1656752221.0,
 1656753960.0,
 1656756687.0,
 1656759519.0,
 1656761811.0,
 1656765062.0,
 1656768667.0,
 1656771687.0,
 1656775931.0,
 1656779697.0,
 1656784375.0,
 1656788656.0,
 1656791691.0,
 1656793809.0,
 1656797531.0,
 1656801857.0,
 1656804490.0,
 1656811858.0,
 1656817713.0,
 1656824574.0,
 1656830439.0,
 1656835455.0,
 1656838018.0,
 1656839974.0,
 1656842956.0,
 1656846987.0,
 1656850245.0,
 1656853679.0,
 1656856819.0,
 1656860057.0,
 1656862661.0,
 1656865240.0,
 1656867936.0,
 1656870858.0,
 1656873185.0,
 1656878323.0,
 1656881632.0,
 1656884017.0,
 1656890450.0,
 1656894356.0,
 1656899052.0,
 1656905782.0,
 1656912445.0,
 1656918489.0,
 1656923316.0,
 1656926351.0,
 1656929509.0,
 1656932658.0,
 1656936579.0,
 1656939756.0,
 1656944389.0,
 1656946906.0,
 1656951059.0,
 1656955982.0,
 1656958626.0,
 1656961832.0,
 1656965948.0,
 1656968374.0,
 1656971956.0,
 1656975953.0,
 1656980156.0,
 1656986454.0,
 1656994971.0,
 1657000891.0,
 1657005247.0,
 1657009256.0,
 1657012450.0,
 1657017213.0,
 1657019496.0,
 1657023336.0,
 1657027189.0,
 1657029533.0,
 1657032006.0,
 1657034719.0,
 1657037693.0,
 1657041462.0,
 1657044689.0,
 1657048366.0,
 1657051235.0,
 1657054495.0,
 1657057725.0,
 1657060888.0,
 1657066914.0,
 1657072000.0,
 1657080892.0,
 1657086540.0,
 1657091005.0,
 1657093963.0,
 1657096805.0,
 1657100349.0,
 1657103672.0,
 1657106707.0,
 1657109636.0,
 1657109676.0,
 1657111007.0,
 1657114845.0,
 1657119341.0,
 1657123691.0,
 1657127288.0,
 1657132058.0,
 1657136314.0,
 1657139434.0,
 1657141311.0,
 1657145311.0,
 1657150203.0,
 1657155466.0,
 1657163824.0,
 1657173002.0,
 1657177690.0,
 1657179959.0,
 1657183534.0,
 1657187183.0,
 1657191624.0,
 1657194679.0,
 1657197707.0,
 1657200335.0,
 1657203207.0,
 1657206993.0,
 1657210619.0,
 1657213554.0,
 1657216647.0,
 1657218677.0,
 1657220942.0,
 1657225616.0,
 1657228662.0,
 1657230992.0,
 1657235464.0,
 1657241565.0,
 1657248559.0,
 1657254568.0,
 1657259149.0,
 1657264372.0,
 1657266926.0,
 1657269567.0,
 1657272037.0,
 1657275097.0,
 1657278299.0,
 1657281840.0,
 1657286351.0,
 1657289041.0,
 1657292928.0,
 1657296760.0,
 1657300613.0,
 1657304381.0,
 1657306776.0,
 1657310580.0,
 1657313820.0,
 1657317956.0,
 1657321510.0,
 1657326144.0,
 1657331332.0,
 1657336283.0,
 1657340898.0,
 1657346938.0,
 1657350890.0,
 1657353450.0,
 1657356022.0,
 1657359500.0,
 1657361832.0,
 1657365494.0,
 1657369133.0,
 1657372746.0,
 1657376838.0,
 1657380442.0,
 1657383101.0,
 1657387591.0,
 1657391310.0,
 1657395535.0,
 1657398921.0,
 1657401718.0,
 1657405620.0,
 1657409713.0,
 1657412109.0,
 1657418179.0,
 1657425657.0,
 1657431898.0,
 1657437262.0,
 1657441602.0,
 1657444216.0,
 1657445928.0,
 1657448533.0,
 1657452051.0,
 1657454755.0,
 1657457875.0,
 1657462196.0,
 1657465684.0,
 1657467837.0,
 1657472181.0,
 1657474269.0,
 1657478239.0,
 1657481427.0,
 1657483585.0,
 1657486892.0,
 1657488936.0,
 1657491350.0,
 1657494932.0,
 1657501942.0,
 1657509397.0,
 1657516894.0,
 1657522030.0,
 1657524886.0,
 1657527991.0,
 1657531824.0,
 1657535680.0,
 1657538412.0,
 1657541593.0,
 1657544142.0,
 1657546459.0,
 1657549611.0,
 1657554227.0,
 1657558186.0,
 1657561097.0,
 1657565366.0,
 1657568871.0,
 1657573308.0,
 1657577446.0,
 1657580838.0,
 1657584317.0,
 1657589762.0,
 1657597996.0,
 1657604318.0,
 1657608678.0,
 1657611340.0,
 1657615574.0,
 1657619987.0,
 1657624351.0,
 1657626747.0,
 1657629394.0,
 1657632754.0,
 1657635213.0,
 1657638903.0,
 1657643182.0,
 1657647403.0,
 1657651516.0,
 1657654750.0,
 1657657134.0,
 1657659371.0,
 1657663095.0,
 1657666468.0,
 1657670951.0,
 1657676954.0,
 1657685006.0,
 1657689888.0,
 1657695330.0,
 1657697578.0,
 1657700513.0,
 1657703913.0,
 1657706451.0,
 1657709313.0,
 1657712283.0,
 1657715987.0,
 1657719647.0,
 1657723170.0,
 1657727389.0,
 1657730040.0,
 1657733362.0,
 1657736316.0,
 1657741014.0,
 1657745058.0,
 1657747449.0,
 1657752410.0,
 1657758874.0,
 1657767435.0,
 1657773984.0,
 1657778903.0,
 1657782486.0,
 1657784959.0,
 1657788045.0,
 1657789576.0,
 1657791563.0,
 1657795470.0,
 1657798727.0,
 1657802342.0,
 1657805375.0,
 1657808588.0,
 1657811798.0,
 1657815849.0,
 1657820029.0,
 1657823011.0,
 1657827074.0,
 1657830099.0,
 1657832377.0,
 1657836642.0,
 1657839598.0,
 1657845779.0,
 1657850912.0,
 1657857259.0,
 1657862050.0,
 1657866100.0,
 1657868402.0,
 1657870691.0,
 1657873210.0,
 1657876388.0,
 1657879279.0,
 1657881718.0,
 1657885085.0,
 1657887893.0,
 1657892582.0,
 1657896339.0,
 1657900298.0,
 1657904183.0,
 1657907494.0,
 1657911002.0,
 1657914796.0,
 1657917882.0,
 1657921330.0,
 1657925447.0,
 1657930565.0,
 1657936384.0,
 1657943652.0,
 1657950874.0,
 1657955895.0,
 1657960716.0,
 1657963391.0,
 1657967724.0,
 1657973102.0,
 1657978646.0,
 1657983964.0,
 1657988115.0,
 1657991011.0,
 1657994877.0,
 1657999749.0,
 1658003407.0,
 1658007174.0,
 1658010344.0,
 1658015102.0,
 1658021454.0,
 1658029671.0,
 1658035074.0,
 1658041293.0,
 1658044728.0,
 1658048032.0,
 1658051725.0,
 1658054552.0,
 1658058665.0,
 1658062665.0,
 1658065791.0,
 1658068021.0,
 1658070688.0,
 1658072632.0,
 1658075000.0,
 1658078352.0,
 1658081468.0,
 1658084844.0,
 1658088426.0,
 1658091164.0,
 1658093309.0,
 1658096343.0,
 1658100532.0,
 1658106150.0,
 1658114592.0,
 1658122314.0,
 1658128215.0,
 1658131918.0,
 1658135568.0,
 1658140119.0,
 1658143059.0,
 1658145589.0,
 1658148895.0,
 1658152936.0,
 1658158484.0,
 1658161603.0,
 1658165071.0,
 1658168096.0,
 1658170843.0,
 1658173150.0,
 1658176128.0,
 1658177862.0,
 1658181434.0,
 1658186095.0,
 1658192127.0,
 1658200695.0,
 1658210385.0,
 1658214984.0,
 1658218553.0,
 1658220880.0,
 1658224338.0,
 1658226798.0,
 1658230834.0,
 1658236244.0,
 1658241164.0,
 1658244305.0,
 1658248858.0,
 1658252126.0,
 1658255688.0,
 1658257963.0,
 1658261305.0,
 1658264891.0,
 1658267692.0,
 1658271031.0,
 1658276679.0,
 1658283888.0,
 1658293969.0,
 1658301157.0,
 1658304484.0,
 1658308481.0,
 1658311380.0,
 1658315428.0,
 1658319202.0,
 1658321851.0,
 1658326516.0,
 1658332415.0,
 1658336243.0,
 1658339221.0,
 1658342414.0,
 1658345068.0,
 1658347649.0,
 1658350113.0,
 1658352482.0,
 1658356366.0,
 1658359201.0,
 1658366267.0,
 1658370164.0,
 1658376463.0,
 1658383394.0,
 1658387489.0,
 1658390891.0,
 1658394181.0,
 1658396532.0,
 1658400094.0,
 1658403214.0,
 1658407017.0,
 1658411098.0,
 1658415992.0,
 1658420762.0,
 1658424629.0,
 1658428248.0,
 1658431219.0,
 1658435230.0,
 1658438837.0,
 1658443081.0,
 1658448467.0,
 1658455611.0,
 1658461743.0,
 1658466397.0,
 1658471863.0,
 1658474635.0,
 1658477253.0,
 1658479623.0,
 1658482331.0,
 1658485772.0,
 1658488177.0,
 1658488203.0,
 1658490839.0,
 1658494186.0,
 1658496111.0,
 1658498706.0,
 1658501190.0,
 1658504991.0,
 1658507160.0,
 1658508931.0,
 1658511049.0,
 1658512844.0,
 1658515367.0,
 1658517564.0,
 1658519994.0,
 1658523407.0,
 1658526966.0,
 1658529467.0,
 1658532820.0,
 1658538096.0,
 1658544919.0,
 1658555421.0,
 1658561492.0,
 1658564815.0,
 1658566236.0,
 1658569053.0,
 1658572895.0,
 1658576197.0,
 1658579293.0,
 1658583325.0,
 1658586693.0,
 1658590046.0,
 1658594154.0,
 1658597552.0,
 1658601880.0,
 1658605981.0,
 1658609583.0,
 1658613796.0,
 1658617653.0,
 1658625743.0,
 1658634031.0,
 1658644058.0,
 1658649958.0,
 1658653767.0,
 1658657598.0,
 1658660610.0,
 1658663820.0,
 1658666538.0,
 1658670062.0,
 1658672965.0,
 1658674973.0,
 1658677858.0,
 1658680474.0,
 1658683605.0,
 1658686867.0,
 1658690565.0,
 1658692730.0,
 1658695640.0,
 1658697497.0,
 1658700138.0,
 1658704906.0,
 1658711558.0,
 1658719718.0,
 1658726294.0,
 1658731328.0,
 1658734316.0,
 1658736848.0,
 1658740816.0,
 1658744217.0,
 1658748038.0,
 1658751158.0,
 1658754670.0,
 1658757977.0,
 1658762472.0,
 1658765616.0,
 1658769077.0,
 1658772055.0,
 1658776067.0,
 1658778932.0,
 1658781795.0,
 1658784446.0,
 1658787719.0,
 1658793333.0,
 1658797766.0,
 1658808390.0,
 1658812850.0,
 1658815408.0,
 1658819331.0,
 1658822796.0,
 1658825491.0,
 1658827920.0,
 1658831995.0,
 1658835802.0,
 1658838440.0,
 1658842574.0,
 1658845155.0,
 1658849508.0,
 1658852149.0,
 1658854219.0,
 1658858560.0,
 1658860943.0,
 1658863676.0,
 1658866384.0,
 1658869229.0,
 1658872061.0,
 1658875151.0,
 1658881589.0,
 1658891306.0,
 1658899466.0,
 1658903480.0,
 1658907402.0,
 1658909284.0,
 1658913341.0,
 1658916824.0,
 1658920271.0,
 1658924292.0,
 1658928340.0,
 1658932485.0,
 1658938409.0,
 1658942464.0,
 1658946792.0,
 1658950583.0,
 1658953044.0,
 1658955498.0,
 1658960047.0,
 1658964005.0,
 1658969764.0,
 1658974569.0,
 1658981084.0,
 1658986260.0,
 1658991209.0,
 1658993019.0,
 1658995733.0,
 1658997632.0,
 1659000909.0,
 1659003682.0,
 1659006433.0,
 1659008153.0,
 1659008177.0,
 1659009654.0,
 1659011744.0,
 1659015490.0,
 1659019323.0,
 1659022797.0,
 1659026540.0,
 1659030116.0,
 1659033762.0,
 1659037195.0,
 1659039675.0,
 1659041249.0,
 1659044664.0,
 1659049074.0,
 1659052825.0,
 1659056984.0,
 1659063178.0,
 1659072255.0,
 1659075199.0,
 1659079079.0,
 1659082732.0,
 1659085869.0,
 1659088760.0,
 1659092135.0,
 1659095628.0,
 1659098085.0,
 1659101776.0,
 1659105951.0,
 1659110527.0,
 1659114833.0,
 1659117461.0,
 1659120984.0,
 1659124291.0,
 1659129130.0,
 1659132546.0,
 1659138190.0,
 1659142174.0,
 1659157821.0,
 1659164211.0,
 1659167907.0,
 1659169635.0,
 1659172566.0,
 1659175108.0,
 1659178224.0,
 1659181194.0,
 1659184475.0,
 1659187537.0,
 1659190866.0,
 1659193842.0,
 1659196279.0,
 1659199241.0,
 1659202009.0,
 1659206082.0,
 1659210159.0,
 1659213282.0,
 1659216366.0,
 1659220081.0,
 1659223461.0,
 1659229301.0,
 1659234539.0,
 1659241136.0,
 1659246848.0,
 1659252259.0,
 1659254576.0,
 1659257548.0,
 1659260768.0,
 1659264649.0,
 1659268106.0,
 1659271420.0,
 1659274756.0,
 1659277922.0,
 1659282311.0,
 1659285101.0,
 1659287560.0,
 1659290322.0,
 1659293359.0,
 1659295755.0,
 1659299173.0,
 1659301650.0,
 1659304846.0,
 1659307475.0,
 1659310045.0,
 1659312724.0,
 1659316508.0,
 1659323768.0,
 1659331718.0,
 1659335687.0,
 1659338539.0,
 1659340990.0,
 1659344757.0,
 1659347577.0,
 1659351157.0,
 1659353628.0,
 1659357505.0,
 1659361678.0,
 1659366023.0,
 1659370385.0,
 1659374227.0,
 1659378588.0,
 1659382119.0,
 1659386044.0,
 1659388813.0,
 1659390745.0,
 1659394150.0,
 1659399805.0,
 1659406027.0,
 1659412146.0,
 1659418550.0,
 1659422927.0,
 1659427473.0,
 1659431484.0,
 1659433900.0,
 1659436475.0,
 1659439306.0,
 1659444018.0,
 1659448056.0,
 1659452575.0,
 1659457183.0,
 1659461423.0,
 1659464474.0,
 1659466609.0,
 1659469700.0,
 1659472532.0,
 1659474542.0,
 1659477060.0,
 1659481203.0,
 1659484000.0,
 1659486647.0,
 1659490199.0,
 1659493385.0,
 1659497119.0,
 1659500636.0,
 1659504094.0,
 1659507575.0,
 1659512143.0,
 1659515871.0,
 1659518622.0,
 1659520063.0,
 1659524899.0,
 1659527136.0,
 1659530788.0,
 1659535841.0,
 1659539974.0,
 1659545331.0,
 1659549339.0,
 1659551114.0,
 1659553851.0,
 1659556506.0,
 1659559429.0,
 1659562176.0,
 1659565869.0,
 1659569311.0,
 1659572552.0,
 1659577634.0,
 1659583086.0,
 1659588866.0,
 1659592846.0,
 1659596284.0,
 1659600068.0,
 1659603148.0,
 1659606183.0,
 1659607984.0,
 1659610010.0,
 1659612592.0,
 1659615230.0,
 1659617767.0,
 1659617793.0,
 1659619054.0,
 1659622460.0,
 1659625461.0,
 1659628684.0,
 1659633095.0,
 1659636656.0,
 1659638906.0,
 1659641899.0,
 1659645257.0,
 1659647353.0,
 1659649776.0,
 1659652020.0,
 1659654539.0,
 1659659674.0,
 1659665003.0,
 1659671504.0,
 1659675534.0,
 1659679627.0,
 1659683524.0,
 1659686019.0,
 1659688295.0,
 1659690184.0,
 1659693379.0,
 1659696566.0,
 1659698890.0,
 1659701924.0,
 1659703856.0,
 1659706835.0,
 1659710214.0,
 1659712485.0,
 1659714652.0,
 1659716685.0,
 1659718577.0,
 1659720944.0,
 1659723195.0,
 1659725110.0,
 1659727113.0,
 1659729318.0,
 1659732185.0,
 1659734454.0,
 1659737198.0,
 1659739692.0,
 1659741533.0,
 1659743494.0,
 1659746282.0,
 1659749625.0,
 1659752839.0,
 1659756308.0,
 1659759801.0,
 1659762842.0,
 1659766620.0,
 1659769721.0,
 1659772694.0,
 1659775645.0,
 1659779415.0,
 1659781914.0,
 1659783922.0,
 1659787766.0,
 1659791040.0,
 1659792699.0,
 1659794786.0,
 1659796934.0,
 1659798596.0,
 1659800391.0,
 1659801820.0,
 1659803832.0,
 1659804951.0,
 1659806693.0,
 1659808625.0,
 1659810453.0,
 1659812517.0,
 1659816263.0,
 1659818913.0,
 1659821840.0,
 1659825803.0,
 1659829140.0,
 1659833407.0,
 1659838792.0,
 1659844041.0,
 1659849173.0,
 ...]

In [ ]:
for index, row in calc_df.iterrows():
    if row['Time_to_Fill'] < 0:
        result = 0
        calc_df.at[index, 'Time_to_Fill'] = result

In [43]:
negative_values = calc_df.loc[calc_df['Time_to_Fill'] < 0, 'Time_to_Fill']
negative_values

Series([], Name: Time_to_Fill, dtype: float64)

## Calculate Inflow and Average Inflow

In [45]:
calc_df['Inflow'] = float()
calc_df['Avg_Inflow'] = float()

In [46]:
for index, row in calc_df.iterrows():
    if row['Time_to_Fill'] != 0:
        inflow = row['volume_per_foot'] * row['Elevation_dif'] / row['Time_to_Fill']
        calc_df.at[index, 'Inflow'] = inflow
    else:
        pass

In [47]:
sum_dict ={}
count_dict ={}

for index, row in legend.iterrows():
    result = 0
    tag = row['Lift Station']
    sum_dict[tag] = result
    count_dict[tag] = result
    
for index, row in calc_df.iterrows():
    tag = row['LiftStation']
    sum_dict[tag] += row['Inflow']
    count_dict[tag] += 1
    calc_df.at[index, 'Avg_Inflow'] = sum_dict[tag] / count_dict[tag]

In [50]:
calc_df.head(10)

,LiftStation,PumpTagIndex,PumpStartTime,StartWellLevel,PumpStopTime,StopWellLevel,StartUnix,StopUnix,Time_diff,Elevation_dif,wet_well_diam,volume_per_foot,observed_pumping_flow_rate,avg_flow_rate_pump,average_observed_pumping_flow_rate,Time_to_Fill
0,Buena Vista (19),920,2022-06-24 00:11:33,3.200578,2022-06-24 00:13:32,2.189985,1.656029e+09,1.656030e+09,1.983333,3.3,5,147.0,245,245.000000,245.000000,1970-01-01 00:00:00
1,Buena Vista (19),918,2022-06-24 03:33:31,3.196136,2022-06-24 03:35:31,2.187765,1.656042e+09,1.656042e+09,2.000000,3.3,5,147.0,243,243.000000,244.000000,0 days 03:19:59
2,Buena Vista (19),920,2022-06-24 06:24:22,3.198357,2022-06-24 06:26:18,2.232186,1.656052e+09,1.656052e+09,1.933333,3.3,5,147.0,251,248.000000,246.333333,0 days 02:48:51
3,Buena Vista (19),918,2022-06-24 07:32:38,3.200578,2022-06-24 07:34:38,2.229965,1.656056e+09,1.656056e+09,2.000000,3.3,5,147.0,243,243.000000,245.500000,0 days 01:06:20
4,Buena Vista (19),920,2022-06-24 08:49:01,3.196136,2022-06-24 08:50:59,2.192206,1.656061e+09,1.656061e+09,1.966667,3.3,5,147.0,247,247.666667,245.800000,0 days 01:14:23
5,Buena Vista (19),918,2022-06-24 10:03:51,3.200578,2022-06-24 10:05:56,2.214417,1.656065e+09,1.656065e+09,2.083333,3.3,5,147.0,233,239.666667,243.666667,0 days 01:12:52
6,Buena Vista (19),920,2022-06-24 11:33:07,3.200578,2022-06-24 11:35:04,2.192206,1.656070e+09,1.656071e+09,1.950000,3.3,5,147.0,249,248.000000,244.428571,0 days 01:27:11
7,Buena Vista (19),918,2022-06-24 13:06:47,3.200578,2022-06-24 13:08:52,2.192206,1.656076e+09,1.656076e+09,2.083333,3.3,5,147.0,233,238.000000,243.000000,0 days 01:31:43
8,Buena Vista (19),920,2022-06-24 14:59:57,3.200578,2022-06-24 15:01:55,2.201091,1.656083e+09,1.656083e+09,1.966667,3.3,5,147.0,247,247.800000,243.444444,0 days 01:51:05
9,Buena Vista (19),918,2022-06-24 16:00:31,3.200578,2022-06-24 16:02:37,2.223302,1.656086e+09,1.656087e+09,2.100000,3.3,5,147.0,231,236.600000,242.200000,0 days 00:58:36

# Section 5

In this section, I will calculate the actual pump flow rate in GPM, the average flow rate per pump in GPM, and the average pump flow rate in GPM.

Actual pump flow rate - To calculate the actual pump flow rate for each row in calc_df, I simply take the row's observed pumping flow rate value we calculated earlier, and add the row's inflow value.

Average flow rate per pump - To calculate the average flow rate per pump I add the values in the actual pump flow rate column for each pump, and then divide that sum by the count of values for that pump. So if I iterate over 4 rows of the calc_df, and pump 1 has 3 out of the 4 rows with an actual pump flow rate of 100, 120, and 100, the formula will sum these three rows (320) and divide by the number of rows that were related to pump 1 (3). The average flow rate per pump 1 in row 4 would be 106.

Average pump flow rate - to calculate this value I simply add all the actual pump flow rates for both pumps and divide the sum by the count of rows I have iterated over. For example, if I have iterated over 4 rows, and 2 of the rows are pump 1 and 2 are pump 2, I'll add up the values from both pumps (100,110,100,120) and divide the sum by 4 to calculate the average pump flow rate in GPM of 107.5.

## Calculate Actual Pump Flow Rate (GPM)

In [49]:
calc_df['Actual_Pump_Flow_Rate'] = float()

In [50]:
for index, row in calc_df.iterrows():
    result = round(row['observed_pumping_flow_rate'] + row['Inflow'])
    calc_df.at[index, 'Actual_Pump_Flow_Rate'] = result

## Finally Let's calculate our Average Flow Rate Per Pump and the Average Pump Flow Rate in (GPM)

In [58]:
calc_df['Average_Pump_Flow_Rate_(Individual)'] = int()
calc_df['Average_Pump_Flow_Rate_(All_Pumps)'] = int()

In [55]:
pump_sum_dict={}
pump_count_dict={}

for item in valid_pumps:
    pump_sum_dict[item]=0
    pump_count_dict[item]=0
    

for index, row in calc_df.iterrows():
    tag = row['PumpTagIndex']
    pump_sum_dict[tag] += row['Actual_Pump_Flow_Rate']
    pump_count_dict[tag] += 1
    calc_df.at[index,'Average_Pump_Flow_Rate'] = cum_sum / count

In [ ]:
sum_dict ={}
count_dict ={}

for index, row in legend.iterrows():
    result = 0
    tag = row['Lift Station']
    sum_dict[tag] = result
    count_dict[tag] = result

for index, row in calc_df.iterrows():
    tag = row['LiftStation']
    sum_dict[tag] += row['Actual_Pump_Flow_Rate']
    count_dict[tag] += 1
    calc_df.at[index,'Average_Pump_Flow_Rate_(all)'] = cum_sum / count

In [44]:
#calc_df

## Export the data to CSV

In [39]:
calc_df.to_csv("Model Data for Kelly Lift Station.csv")